
    body {
        background-image: url("https://static.vecteezy.com/system/resources/previews/009/097/172/original/e-wallet-digital-wallet-application-internet-banking-online-payment-security-via-credit-card-online-money-transaction-concept-coin-icon-on-dark-background-eps10-illustration-free-vector.jpg");
        background-size: cover;
    }

    h2.registracija {
        font-family: Broadway, cursive;
        text-align: center;
        font-size: 50px;
        color: rgb(159, 233, 243);
    }

    table.registracija {
        margin-right: auto;
        margin-left: 25px;
        font-family: Broadway, cursive;
        color: white;
        border-style: ridge;
        border-color: azure;
        border-spacing: 12px;
    }


    tr.registracija {
        font-family: Broadway, cursive;
        font-size: 180%;
        color: white;
    }

    td.submit {
        font-family: Broadway, cursive;
        text-align: center;
    }

    input.submit {
        font-size: 90%;
        font-family: Broadway, cursive;
        color:  rgb(23, 6, 102);
        background-color: white;
    }

    input.registracija {
        font-size: 90%;
    }

    td {
        margin: 20px;
    }


    select {
        font-size: 90%;
    }

    a {
        font-family: cursive;
        text-align: center;
        display: block;
        font-size: 28px;
        color: rgb(159, 233, 243);
        opacity: 1.0;
    }

    a:visited {
        color: rgb(159, 233, 243);;
    }

    a:hover {
        color: gray;
    }

    a:active {
        color: blue;
    }

