
    body {
        background-image: url("https://media.rec.ba/2020/11/devizno-poslovanje-unutrasnji-platni-promet.jpg");
        background-size: cover;
    }

    h2.login {
        font-family: Broadway, cursive;
        text-align: center;
        font-size: 50px;
        color: #531392
    }

    table.login {
        margin-right: auto;
        margin-left: auto;
        font-family: Broadway;
        color: azure;
        border-style: ridge;
        border-bottom-color: aliceblue;
        border-spacing: 12px;
    }

    tr.login {
        font-size: 180%;
    }

    td.submit {
        text-align: center;
    }

    input.submit {
        font-size: 90%;
        font-family: Broadway, cursive;
        color: #521e86;
        background-color: white;
    }

    input.login {
        font-size: 90%;
    }

    td {
        margin: 20px;
    }

    a {
        font-family: Broadway, cursive;
        text-align: center;
        display: block;
        font-size: 28px;
        color: aqua;
        opacity: 1.5;
    }

    a:visited {
        color: aqua;
    }

    a:hover {
        color:  #531392;
    }

    a:active {
        color: blue;
    }

