
    body {
        background-image: url("../static/Background.jpeg");
        background-size: cover;
    }

    h2.login {
        font-family: Broadway, cursive;
        text-align: center;
        font-size: 50px;
        color: rgb(159, 233, 243);
    }

    table.login {
        margin-right: auto;
        margin-left: 25px;
        font-family: Broadway;
        color: azure;
        border-style: ridge;
        border-bottom-color: aliceblue;
        border-spacing: 12px;
    }

    tr.login {
        font-family: Broadway, cursive;
        font-size: 180%;
        color: white;
    }

    td.submit {
        text-align: center;
    }

    input.submit {
        font-size: 90%;
        font-family: Broadway, cursive;
        color:  rgb(23, 6, 102);
        background-color: white;
    }

    input.login {
        font-size: 90%;
    }

    td {
        margin: 20px;
    }

    a {
        font-family: Broadway, cursive;
        text-align: center;
        display: block;
        font-size: 28px;
        color: rgb(159, 233, 243);
        opacity: 1.0;
    }

    a:visited {
        color: rgb(159, 233, 243);
    }

    a:hover {
        color:  gray;
    }

    a:active {
        color: blue;
    }



