<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Istorija transakcije</title>
    <link rel="stylesheet" href="/static/history.css">
</head>
<body>

<h2 class="history">Istorija transakcija za korisnika {{ session.user.Ime }}</h2>
<div id="divHistory" class="history">
    <table class="history table-sortable">
        <thead>
        <tr class="trTransaction">
            <th class="thTransaction">
                Id transakcije
            </th>
            <th class="thTransaction">
                Posiljalac
            </th>
            <th class="thTransaction">
                Primalac
            </th>
            <th class="thTransaction">
                Broj kartice korisnika
            </th>
            <th class="thTransaction">
                Kolicina novca
            </th>
            <th class="thTransaction">
                Status transakcije
            </th>
            <th class="thTransaction">
                Valuta
            </th>
        </tr>
        </thead>
        <tbody>
        {% for podatak in podaci %}
                      <tr class="thTransaction">
                        <td class="tdTransaction">{{ podatak.IdTransakcije }}</td>
                          <td class="tdTransaction">{{ podatak.Posiljalac }}</td>
                          <td class="tdTransaction">{{ podatak.Primalac }}</td>
                        <td class="tdTransaction">{{ podatak.BrojKarticeKorisnika }}</td>
                        <td class="tdTransaction">{{ podatak.KolicinaNovca }}</td>
                        <td class="tdTransaction">{{ podatak.StatusTransakcije }}</td>
                          <td class="tdTransaction">{{ podatak.Valuta }}</td>
                      </tr>
                {% endfor %}
        </tbody>
    </table>
    <script src="/static/tablesort.js"></script>
</div>
<a class="nalog" href="/account/account">Povratak na nalog</a>
</body>
</html>