<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prijava</title>
     <link rel="stylesheet" href="/static/login.css">
</head>
<body>
<h2 class="login">Prijavi se</h2>
<div>
    <form action="~/Prijavljivanje/PokusajPrijave" method="post">
        <table class="login">
            <thead>
            <tr class="login">
                <td>
                    Email:
                </td>
                <td>
                    <input class="login" type="email" value="" name="email"/>
                </td>
            </tr>
            <tr class="login">
                <td>
                    Lozinka:
                </td>
                <td>
                    <input class="login" type="password" value="" name="lozinka"/>
                </td>
            </tr>
            <tr class="login">
                <td class="submit" colspan="2">
                    <input class="submit" type="submit" value="Prijava"/>
                </td>
            </tr>
            </thead>
        </table>
    </form>

    <a href="/user/">Stranica za registraciju</a>
</div>
</body>
</html>