<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nalog</title>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/nalog.css">

    <script type="text/javascript">
        $(document).ready( function(){

              {% if session.user.Verifikovan == 0 %}

               $("#add").hide();
               $("#change").hide();
               $("#history").hide();
               $("#transaction").hide();

              {% endif %}



            $("#ver").click( function(){
                $(".float-child2").html("");
                $(".float-child2").show();

                $('.float-child2').append(` <form action="{{ url_for('account_blueprint.verify') }}" method="post">
                                         <table class="brKartice" style="margin-top: 15px;">
                <tr>
                    <td>
                        <label class="label">Broj kartice: </label>
                    </td>
                    <td>
                        <input type="text" required class="card-number" placeholder="0000 0000 0000 0000" name="brKartice">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="label">Ime: </label>
                    </td>
                    <td>
                        <input type="text" required class="card-number" placeholder="Ime" name="ime">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="label">Datum isteka: </label>
                    </td>
                    <td>
                        <input type="text" required class="card-number" placeholder="2023-01-01" name="datum">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="label">Sigurnosni kod: </label>
                    </td>
                    <td>
                        <input type="password" required class="card-number" placeholder="111" name="kod">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input class="submit" id="dugmeVerifikuj" type="submit" value="Verifikuj"/>
                    </td>
                </tr>
            </table>
        </form>`);
            });

            $("#dugmeVerifikuj").click( function(){
               $("#add").show();
               $("#change").show();
               $("#history").show();
               $("#transaction").show();
               $("#ver").hide();

            });


        {% if message %}

                $(".float-child2").show();
                 $('.float-child2').append(` <form action="{{ url_for('account_blueprint.verify') }}" method="post">
                                         <table class="brKartice" style="margin-top: 15px;">
                <tr>
                    <td>
                        <label class="label">Broj kartice: </label>
                    </td>
                    <td>
                        <input type="text" required class="card-number" placeholder="0000 0000 0000 0000" name="brKartice">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="label">Ime: </label>
                    </td>
                    <td>
                        <input type="text" required class="card-number" placeholder="Ime" name="ime">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="label">Datum isteka: </label>
                    </td>
                    <td>
                        <input type="text" required class="card-number" placeholder="2023-01-01" name="datum">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="label">Sigurnosni kod: </label>
                    </td>
                    <td>
                        <input type="password" required class="card-number" placeholder="111" name="kod">
                    </td>
                </tr>
                {% if message %}
                <tr class="message">
                    <td colspan="2">{{ message }}</td>
                </tr>
                {% endif %}
                <tr>
                    <td colspan="2">
                        <input class="submit" type="submit" value="Verifikuj"/>
                    </td>
                </tr>
                    </table>
                </form>`);
        {% endif %}

            $("#add").click(function(){
                $(".float-child2").html("");
                $(".float-child2").show();

                $(".float-child2").append(` <form action="{{ url_for('account_blueprint.addMoney') }}" method="post">
    <table class="brKartice" style="margin-top: 15px;">
        <tbody>
           <tr>
               <td>
                  <label class="label">Kolicina novca:</label>
               </td>
               <td>
                <input type="text" class="transfer-money" value="0" placeholder="Unesite kolicinu novca" name="unosNovca">
               </td>
           </tr>

           <tr>
            <td colspan="2">
                <input class="submit" id="unesiDugme" type="submit" name="submit1" value="Unesi">
            </td>
           </tr>
        </tbody>
   </table>
 </form>`);


            });

            $("#change").click( function(){
                $(".float-child2").html("");
                $(".float-child2").show();



                $(".float-child2").append(` <form action="{{ url_for('account_blueprint.changeCurrency') }}" method="post">
    <table class="brKartice" style="margin-top: 15px;">
        <tbody>
           <tr>
               <td>
                  <label class="label">Promena iz:</label>
               </td>
               <td>
                <select class="select-currency1" id='valuta1' name="valuta1">
                       <option value="AED">AED</option>
                       <option value="AFN">AFN</option>
                       <option value="ALL">ALL</option>
                       <option value="AMD">AMD</option>
                       <option value="ANG">ANG</option>
                       <option value="AOA">AOA</option>
                       <option value="ARS">ARS</option>
                       <option value="AUD">AUD</option>
                       <option value="AWG">AWG</option>
                       <option value="AZN">AZN</option>
                       <option value="BAM">BAM</option>
                       <option value="BBD">BBD</option>
                       <option value="BDT">BDT</option>
                       <option value="BGN">BGN</option>
                       <option value="BHD">BHD</option>
                       <option value="BIF">BIF</option>
                       <option value="BMD">BMD</option>
                       <option value="BND">BND</option>
                       <option value="BOB">BOB</option>
                       <option value="BRL">BRL</option>
                       <option value="BSD">BSD</option>
                       <option value="BTN">BTN</option>
                       <option value="BWP">BWP</option>
                       <option value="BYN">BYN</option>
                       <option value="BZD">BZD</option>
                       <option value="CAD">CAD</option>
                       <option value="CDF">CDF</option>
                       <option value="CHF">CHF</option>
                       <option value="CLP">CLP</option>
                       <option value="CNY">CNY</option>
                       <option value="COP">COP</option>
                       <option value="CRC">CRC</option>
                       <option value="CUP">CUP</option>
                       <option value="CVE">CVE</option>
                       <option value="CZK">CZK</option>
                       <option value="DJF">DJF</option>
                       <option value="DKK">DKK</option>
                       <option value="DOP">DOP</option>
                       <option value="DZD">DZD</option>
                       <option value="EGP">EGP</option>
                       <option value="ERN">ERN</option>
                       <option value="ETB">ETB</option>
                       <option value="EUR">EUR</option>
                       <option value="FJD">FJD</option>
                       <option value="FKP">FKP</option>
                       <option value="FOK">FOK</option>
                       <option value="GBP">GBP</option>
                       <option value="GEL">GEL</option>
                       <option value="GGP">GGP</option>
                       <option value="GHS">GHS</option>
                       <option value="GIP">GIP</option>
                       <option value="GMD">GMD</option>
                       <option value="GNF">GNF</option>
                       <option value="GTQ">GTQ</option>
                       <option value="GYD">GYD</option>
                       <option value="HKD">HKD</option>
                       <option value="HNL">HNL</option>
                       <option value="HRK">HRK</option>
                       <option value="HTG">HTG</option>
                       <option value="HUF">HUF</option>
                       <option value="IDR">IDR</option>
                       <option value="ILS">ILS</option>
                       <option value="IMP">IMP</option>
                       <option value="IQD">IQD</option>
                       <option value="IRR">IRR</option>
                       <option value="ISK">ISK</option>
                       <option value="JEP">JEP</option>
                       <option value="JMD">JMD</option>
                       <option value="JOD">JOD</option>
                       <option value="JPY">JPY</option>
                       <option value="KES">KES</option>
                       <option value="KGS">KGS</option>
                       <option value="KHR">KHR</option>
                       <option value="KID">KID</option>
                       <option value="KMF">KMF</option>
                       <option value="KRW">KRW</option>
                       <option value="KWD">KWD</option>
                       <option value="KYD">KYD</option>
                       <option value="KZT">KZT</option>
                       <option value="LAK">LAK</option>
                       <option value="LBP">LBP</option>
                       <option value="LKR">LKR</option>
                       <option value="LRD">LRD</option>
                       <option value="LSL">LSL</option>
                       <option value="LYD">LYD</option>
                       <option value="MAD">MAD</option>
                       <option value="MDL">MDL</option>
                       <option value="MGA">MGA</option>
                       <option value="MKD">MKD</option>
                       <option value="MMK">MMK</option>
                       <option value="MNT">MNT</option>
                       <option value="MOP">MOP</option>
                       <option value="MRU">MRU</option>
                       <option value="MUR">MUR</option>
                       <option value="MVR">MVR</option>
                       <option value="MWK">MWK</option>
                       <option value="MXN">MXN</option>
                       <option value="MYR">MYR</option>
                       <option value="MZN">MZN</option>
                       <option value="NAD">NAD</option>
                       <option value="NGN">NGN</option>
                       <option value="NIO">NIO</option>
                       <option value="NOK">NOK</option>
                       <option value="NPR">NPR</option>
                       <option value="NZD">NZD</option>
                       <option value="OMR">OMR</option>
                       <option value="PAB">PAB</option>
                       <option value="PEN">PEN</option>
                       <option value="PGK">PGK</option>
                       <option value="PHP">PHP</option>
                       <option value="PKR">PKR</option>
                       <option value="PLN">PLN</option>
                       <option value="PYG">PYG</option>
                       <option value="QAR">QAR</option>
                       <option value="RON">RON</option>
                       <option value="RSD">RSD</option>
                       <option value="RUB">RUB</option>
                       <option value="RWF">RWF</option>
                       <option value="SAR">SAR</option>
                       <option value="SBD">SBD</option>
                       <option value="SCR">SCR</option>
                       <option value="SDG">SDG</option>
                       <option value="SEK">SEK</option>
                       <option value="SGD">SGD</option>
                       <option value="SHP">SHP</option>
                       <option value="SLE">SLE</option>
                       <option value="SLL">SLL</option>
                       <option value="SOS">SOS</option>
                       <option value="SRD">SRD</option>
                       <option value="SSP">SSP</option>
                       <option value="STN">STN</option>
                       <option value="SYP">SYP</option>
                       <option value="SZL">SZL</option>
                       <option value="THB">THB</option>
                       <option value="TJS">TJS</option>
                       <option value="TMT">TMT</option>
                       <option value="TND">TND</option>
                       <option value="TOP">TOP</option>
                       <option value="TRY">TRY</option>
                       <option value="TTD">TTD</option>
                       <option value="TVD">TVD</option>
                       <option value="TZS">TZS</option>
                       <option value="UAH">UAH</option>
                       <option value="UGX">UGX</option>
                       <option value="USD">USD</option>
                       <option value="UYU">UYU</option>
                       <option value="UZS">UZS</option>
                       <option value="VES">VES</option>
                       <option value="VND">VND</option>
                       <option value="VUV">VUV</option>
                       <option value="WST">WST</option>
                       <option value="XAF">XAF</option>
                       <option value="XCD">XCD</option>
                       <option value="XDR">XDR</option>
                       <option value="XOF">XOF</option>
                       <option value="XPF">XPF</option>
                       <option value="YER">YER</option>
                       <option value="ZAR">ZAR</option>
                       <option value="ZMW">ZMW</option>
                       <option value="ZWL">ZWL</option>
                </select>
                </td>
           </tr>

           <tr>
               <td>
                  <label class="label">Promena u:</label>
               </td>
               <td>
                <select class="select-currency2" id='valuta2' name="valuta2">
                       <option value="AED">AED</option>
                       <option value="AFN">AFN</option>
                       <option value="ALL">ALL</option>
                       <option value="AMD">AMD</option>
                       <option value="ANG">ANG</option>
                       <option value="AOA">AOA</option>
                       <option value="ARS">ARS</option>
                       <option value="AUD">AUD</option>
                       <option value="AWG">AWG</option>
                       <option value="AZN">AZN</option>
                       <option value="BAM">BAM</option>
                       <option value="BBD">BBD</option>
                       <option value="BDT">BDT</option>
                       <option value="BGN">BGN</option>
                       <option value="BHD">BHD</option>
                       <option value="BIF">BIF</option>
                       <option value="BMD">BMD</option>
                       <option value="BND">BND</option>
                       <option value="BOB">BOB</option>
                       <option value="BRL">BRL</option>
                       <option value="BSD">BSD</option>
                       <option value="BTN">BTN</option>
                       <option value="BWP">BWP</option>
                       <option value="BYN">BYN</option>
                       <option value="BZD">BZD</option>
                       <option value="CAD">CAD</option>
                       <option value="CDF">CDF</option>
                       <option value="CHF">CHF</option>
                       <option value="CLP">CLP</option>
                       <option value="CNY">CNY</option>
                       <option value="COP">COP</option>
                       <option value="CRC">CRC</option>
                       <option value="CUP">CUP</option>
                       <option value="CVE">CVE</option>
                       <option value="CZK">CZK</option>
                       <option value="DJF">DJF</option>
                       <option value="DKK">DKK</option>
                       <option value="DOP">DOP</option>
                       <option value="DZD">DZD</option>
                       <option value="EGP">EGP</option>
                       <option value="ERN">ERN</option>
                       <option value="ETB">ETB</option>
                       <option value="EUR">EUR</option>
                       <option value="FJD">FJD</option>
                       <option value="FKP">FKP</option>
                       <option value="FOK">FOK</option>
                       <option value="GBP">GBP</option>
                       <option value="GEL">GEL</option>
                       <option value="GGP">GGP</option>
                       <option value="GHS">GHS</option>
                       <option value="GIP">GIP</option>
                       <option value="GMD">GMD</option>
                       <option value="GNF">GNF</option>
                       <option value="GTQ">GTQ</option>
                       <option value="GYD">GYD</option>
                       <option value="HKD">HKD</option>
                       <option value="HNL">HNL</option>
                       <option value="HRK">HRK</option>
                       <option value="HTG">HTG</option>
                       <option value="HUF">HUF</option>
                       <option value="IDR">IDR</option>
                       <option value="ILS">ILS</option>
                       <option value="IMP">IMP</option>
                       <option value="IQD">IQD</option>
                       <option value="IRR">IRR</option>
                       <option value="ISK">ISK</option>
                       <option value="JEP">JEP</option>
                       <option value="JMD">JMD</option>
                       <option value="JOD">JOD</option>
                       <option value="JPY">JPY</option>
                       <option value="KES">KES</option>
                       <option value="KGS">KGS</option>
                       <option value="KHR">KHR</option>
                       <option value="KID">KID</option>
                       <option value="KMF">KMF</option>
                       <option value="KRW">KRW</option>
                       <option value="KWD">KWD</option>
                       <option value="KYD">KYD</option>
                       <option value="KZT">KZT</option>
                       <option value="LAK">LAK</option>
                       <option value="LBP">LBP</option>
                       <option value="LKR">LKR</option>
                       <option value="LRD">LRD</option>
                       <option value="LSL">LSL</option>
                       <option value="LYD">LYD</option>
                       <option value="MAD">MAD</option>
                       <option value="MDL">MDL</option>
                       <option value="MGA">MGA</option>
                       <option value="MKD">MKD</option>
                       <option value="MMK">MMK</option>
                       <option value="MNT">MNT</option>
                       <option value="MOP">MOP</option>
                       <option value="MRU">MRU</option>
                       <option value="MUR">MUR</option>
                       <option value="MVR">MVR</option>
                       <option value="MWK">MWK</option>
                       <option value="MXN">MXN</option>
                       <option value="MYR">MYR</option>
                       <option value="MZN">MZN</option>
                       <option value="NAD">NAD</option>
                       <option value="NGN">NGN</option>
                       <option value="NIO">NIO</option>
                       <option value="NOK">NOK</option>
                       <option value="NPR">NPR</option>
                       <option value="NZD">NZD</option>
                       <option value="OMR">OMR</option>
                       <option value="PAB">PAB</option>
                       <option value="PEN">PEN</option>
                       <option value="PGK">PGK</option>
                       <option value="PHP">PHP</option>
                       <option value="PKR">PKR</option>
                       <option value="PLN">PLN</option>
                       <option value="PYG">PYG</option>
                       <option value="QAR">QAR</option>
                       <option value="RON">RON</option>
                       <option value="RSD">RSD</option>
                       <option value="RUB">RUB</option>
                       <option value="RWF">RWF</option>
                       <option value="SAR">SAR</option>
                       <option value="SBD">SBD</option>
                       <option value="SCR">SCR</option>
                       <option value="SDG">SDG</option>
                       <option value="SEK">SEK</option>
                       <option value="SGD">SGD</option>
                       <option value="SHP">SHP</option>
                       <option value="SLE">SLE</option>
                       <option value="SLL">SLL</option>
                       <option value="SOS">SOS</option>
                       <option value="SRD">SRD</option>
                       <option value="SSP">SSP</option>
                       <option value="STN">STN</option>
                       <option value="SYP">SYP</option>
                       <option value="SZL">SZL</option>
                       <option value="THB">THB</option>
                       <option value="TJS">TJS</option>
                       <option value="TMT">TMT</option>
                       <option value="TND">TND</option>
                       <option value="TOP">TOP</option>
                       <option value="TRY">TRY</option>
                       <option value="TTD">TTD</option>
                       <option value="TVD">TVD</option>
                       <option value="TZS">TZS</option>
                       <option value="UAH">UAH</option>
                       <option value="UGX">UGX</option>
                       <option value="USD" selected>USD</option>
                       <option value="UYU">UYU</option>
                       <option value="UZS">UZS</option>
                       <option value="VES">VES</option>
                       <option value="VND">VND</option>
                       <option value="VUV">VUV</option>
                       <option value="WST">WST</option>
                       <option value="XAF">XAF</option>
                       <option value="XCD">XCD</option>
                       <option value="XDR">XDR</option>
                       <option value="XOF">XOF</option>
                       <option value="XPF">XPF</option>
                       <option value="YER">YER</option>
                       <option value="ZAR">ZAR</option>
                       <option value="ZMW">ZMW</option>
                       <option value="ZWL">ZWL</option>
                </select>
                </td>
           </tr>

           <tr>
            <td colspan="2">
                <input class="submit" id="unesiDugmeValuta" type="submit" name="submit" value="Promeni valutu">
            </td>
           </tr>

           <tr>
           <td colspan="2">
           <div id="ispisValuta"></div>
           </td>
           </tr>
        </tbody>
   </table>
 </form>`);
                const valuta1 = document.getElementById('valuta1');
                valuta1.value = "{{session.user.Valuta}}";

});
            {% if messageNoMoney %}

                $(".float-child2").show();
                 $('.float-child2').append(`
                                         <table class="brKartice" style="margin-top: 15px;">
                   {% if messageNoMoney %}
                    <tr class="message">
                       <td colspan="2">{{ messageNoMoney }}</td>
                    </tr>
                   {% endif %}

               </table>
                `);
            {% endif %}





             $("#transaction").click( function(){
                $(".float-child2").html("");
                $(".float-child2").show();
            });
       });
    </script>
</head>
<body>

<div class="menu">
    <span class="title">Dobrodošli, <label class="lab"> {{ session.user.Ime }}!</label></span>
    {% if session.user %}
    <span id="stanje" class="balance">Stanje: {{ session.user.NovcanoStanje }} {{ session.user.Valuta }}</span>
    {% endif %}
    {% if session.user.Verifikovan == 0 %}
    <span class="not-verified"> Niste verifikovani </span>
    {% endif %}
    {% if session.user.Verifikovan == 1 %}
    <span class="verified"> Verifikovani ste </span>
    {% endif %}
    <a href="{{ url_for('user_blueprint.logout') }}">Odjava</a>
    <a href="/account/edit">Podešavanje</a>
</div>
<div class="wrapper">
<div class="float-container">
    <span class="float-child1">
    <table>
        <tr>
            <td>
                <a href="#" id="add" >Ubacivanje sredstava</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="#" id="change" >Promeni valutu</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="#" id="transaction" >Nove transakcije</a>
            </td>

        </tr>
        <tr>
            <td>
                 <a href="/account/showTransactionHistory" id="history" >Pregled istorije</a>
            </td>
        </tr>
         {% if session.user.Verifikovan == 0 %}
        <tr>
            <td>
                <a href="#" id="ver">Verifikuj</a>
            </td>
        </tr>
         {% endif %}
    </table>
    </span>

    <span class="float-child2" hidden>
    </span>

</div>
</div>
</body>
</html>