<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nalog</title>
    <link rel="stylesheet" href="/static/nalog.css">
</head>
<body>
<div class="menu">
    <span class="title">Dobrodošli, <label class="lab"> {{ session.user.Ime }}!</label></span>
    {% if session.user %}
    <span class="balance">Stanje: {{ session.user.NovcanoStanje }} {{ session.user.Valuta }}</span>
    {% endif %}
    {% if session.user.Verifikovan == 0 %}
    <span class="not-verified"> Niste verifikovani </span>
    {% endif %}
    {% if session.user.Verifikovan == 1 %}
    <span class="verified"> Verifikovani ste </span>
    {% endif %}
    <a href="{{ url_for('user_blueprint.logout') }}">Odjava</a>
    <a href="/account/edit">Podešavanje</a>
</div>
<div class="wrapper">
<div class="profile">
    <table>
        <tr>
            <td>
                <a href="dodaj">Ubacivanje sredstava</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="dodaj">Pregled stanja</a>
            </td>
        </tr>
        <tr>
            <td>
                 <a href="dodaj">Pregled istorije</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="dodaj">Nove transakcije</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="dodaj">Verifikuj</a>
            </td>
        </tr>
    </table>
</div>
</div>
</body>
</html>