<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nalog</title>
    <link rel="stylesheet" href="/static/nalog.css">
</head>
<body>
<div class="manu">
    <h class="sd">Dobrodosli <label class="lab"></label></h>
    <h class="st">Stanje:</h>
     <input class="stanje" type="number" required value="0" name="Stanje"/>
    <a href="odjava">Odjava</a>
    <a href="podesavanja">Podesavanje</a>
</div>
<div class="wrapper">
<div class="profile">
    <table>
        <tr>
            <td>
                <a href="dodaj">Ubacivanje sredstava</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="dodaj">Pregled stanja</a>
            </td>
        </tr>
        <tr>
            <td>
                 <a href="dodaj">Pregleg istorije</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="dodaj">Nove transakcije</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="dodaj">Valute</a>
            </td>
        </tr>
    </table>
</div>
</div>
</body>
</html>